#%RAML 1.0
version: v1
baseUri: https://mocksvc.mulesoft.com/mocks/e014fc20-080c-44f9-bd7a-538e10d4d66f # 
title: American flights api

/flights: 
   get:
      queryParameters: 
        code: string
      responses: 
        200:
          body: 
            application/json:
              example: |
                  { "ID":1,
                    "code": "ER38sd",
                     "price": 400,
                     "departureDate": "2016/03/20",
                     "origin": "MUA",
                     "destination": "SFO",
                     "emptySeats": 0,
                     "plane": {"type": "Boeing 737",
                             "totalSeats": 150}
                      }

        
   post:
      body: 
        application/json:
            example: |
                  { "ID":1,
                    "code": "ER38sd",
                     "price": 400,
                     "departureDate": "2016/03/20",
                     "origin": "MUA",
                     "destination": "SFO",
                     "emptySeats": 0,
                     "plane": {"type": "Boeing 737",
                             "totalSeats": 150}
                      }
      responses: 
        201:
          body: 
            application/json:
              example: |
                 {"message": "fight added{but not really}"} 
   /{ID}:
       get:
          responses: 
            200:
              body: 
                application/json:
                  example: |
                      { "ID":1,
                      "code": "ER38sd",
                      "price": 400,
                      "departureDate": "2016/03/20",
                      "origin": "MUA",
                      "destination": "SFO",
                      "emptySeats": 0,
                      "plane": {"type": "Boeing 737",
                             "totalSeats": 150}
                      }
                                            
                                          